.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 8%;
  padding: 10vh;
  background: rgba(255, 255, 255, 0.8);
}

.invalid-login-warn {
  margin-bottom: 1vh;
  color: red;
}

body{
  height: 92.9vh;
  background-image: url("../../assets/RedBullRingCars.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}